{{> header}}

<div class="ui container">
	<h1>Official answers to extras questions</h1>
    <form method="POST" action="/admin/extras" class="ui form">
      {{#each questions}}
      <div class="field">
        <label>{{this.question}}</label>
        <input type="text" name={{this.category}} placeholder="Answer" required>
      </div>
      {{/each}}
      <button type="submit" class="ui basic positive huge button">Submit your answers</button>
    </form>

</div>
