{{> header}}

<div class="ui container">
  <h1>Official top scorer</h1>
  <form method="POST" action="/admin/scorers" class="ui form">
    <div class="grouped fields">
    {{#each scorers}}
      <div class="field">
        <label>{{this.username}} - Answer: <i>{{this.answer}}</i></label>
        <input type="number" name="{{this.user_id}}" placeholder="Points for goals">
      </div>
      <br>
    {{/each}}
    </div>
    <button type="submit" class="ui basic positive huge button">Submit points for goals</button>
  </form>
</div>
