{{> header }}

	<style>
		#countdownContainer {
			margin-top: 100px;
		}
		h1 {
			font-size: 50px;
		}
	</style>

	<script type"text/javascript" src="public/js/countdown.js"></script>

    <div id="countdownContainer" class="container">
    	<h2>Welcome to WC2018 app!</h2>

	  	<div id="countdown">
		 <h1 id="timer"></h1>
		</div>
		<p>Until Fifa World Cup 2018</p>
		<br><br><br>
		<p> More content will appear here soon. Meanwhile take the <a href="/quiz/matches">WC2018 Quiz</a> if you haven't already.</p>
		</div>
	</div>



  </body>
</html>
