{{> header }}
      <div class="jumbotron">
        <h1 class="display-3">Date today:</h1>
        <p>Submit your answers here: <a href="/quiz/matches">quiz</a></p>
      </div>
    </div>
  </body>
</html>
