{{> header }}

{{#if join}}
    <div class="ui message">
	  <i class="close icon"></i>
	  <div class="header">
	    Welcome to {{this.name}}!
	  </div>
	</div>
{{/if}}

<div class="container">
	<h1>Welcome to League {{usersInLeague.0.league_name}}!</h1>
	<p>Rankings</p>
	<div>
		<table class="ui very basic collapsing celled table">
			<thead>
			    <tr>
				    <th>User</th>
				    <th>Points</th>
			  	</tr>
			</thead>
			<tbody>
				{{#each usersInLeague}}
					<tr>
						<td>{{this.username}}</td>
						<td>{{this.points}}</td>
					</tr>
				{{/each}}
			</tbody>
		</table>
	</div>
</div>



