{{> header }}    

<div id="loginContainer" class="ui container">
  {{#if errors}}
    {{#each errors}}
      <div class="ui negative message">
        <div class="header">
          {{this.msg}}
        </div>
      </div>
    {{/each}}
  {{/if}}

  {{#if messages.error}}
      <div class="ui negative message">
        <div class="header">
          {{messages.error}}
        </div>
      </div>
  {{/if}}

  <h1>Login</h1>
    <form class="ui form" method="POST" action="/login">
      <div class="field">
        <input type="text" class="form-control" name="username" placeholder="Username">
      </div>
      <div class="field">
        <input type="password" class="form-control" name="password" placeholder="Password">
      </div>
      <button type="submit" class="ui basic positive large button">Login</button>
      <br>
      <h3>Don't have an account yet? <a href="/register">Register here</a></h3>
    </form>
</div>
