{{> header }}

<div class="ui card">
  <div class="image">
    <img src="/public/images/person_avatar_placeholder.png">
  </div>
  <div class="content">
    <p class="header">User <i>{{this.username}}</i></p>
  </div>
  <div class="extra content">
    Points: {{this.points}}
  </div>
</div>


</body>
</html>
