{{> header }}

<div class="container">
	Before you start the quiz you need to join a league or create a new one. <br><br>
	<form method="GET" action="/league/join">
    	<input type="submit" class="ui primary basic button" value="Join league" />
	</form>
	<br>
	<form method="GET" action="/league/create">
    	<input type="submit" class="ui positive basic button" value="Create new league" />
	</form>
</div>
