{{> header}}

<div class="ui container">
  <h1>Extra Questions</h1>
  <p>Guess the answers to the following questions.</p>
  <p>Points: <b> One point for each correct answer </b></p>
  <div id="matchesForm" class="container">
    <form method="POST" action="/quiz/extras" class="ui form">
      {{#each questions}}
      <div class="field">
        <label>{{this.question}}</label>
        <input type="text" name={{this.category}} placeholder="Answer">
      </div>
      {{/each}}
      <button type="submit" class="ui basic positive huge button">Submit your answers</button>
    </form>

  </div>
</div>
