{{> header }}

<div class="ui container">
    {{#if errors}}
    {{#each errors}}
      <div class="ui negative message">
        <div class="header">
          {{this.msg}}
        </div>
      </div>
    {{/each}}
  {{/if}}

  {{#if messages.error}}
      <div class="ui negative message">
        <div class="header">
          {{messages.error}}
        </div>
      </div>
  {{/if}}

  <h1>Registration</h1>
  <form class="ui form" method="POST" action="/register">
    <div class="field">
      <input type="text" name="username" placeholder="Username">
    </div>
    <div class="field">
      <input type="email" name="email" placeholder="E-Mail">
    </div>
    <div class="field">
      <input type="password" name="password" placeholder="Password">
    </div>
    <div class="field">
      <input type="password" name="passwordMatch" placeholder="Confirm password">
    </div>
      <button type="submit" class="ui basic positive large button">Register</button>
  </form>
</div>

{{> footer-end }}
